# vs files
*.idb
*.obj
*.ipdb
*.iobj
*.opensdf
*.sdf
*.suo
*.ilk
*.pdb
*.exp
*.user
*.opendb
*.o
*.db
*.log

*ipch/
*VisualGDB/
*.tlog/
*Debug/
*Release/
*/packages/
*.vs/
*build/
.ycm*
*LIB Debug*/
*Win32/
*x64/
*bin/
*temp/

*.pyc
